<p>
    Hi there,
</p>
<p>
    If you tried to reset your File Garden password with the email <a style="font-weight: bold;">{{ email }}</a>, the password reset request couldn't be fulfilled because there is no verified File Garden account associated with that email.
</p>
<p>
    <ul style="padding-left: 1em;">
        <li>If this was you, try <a href="{{ WEBSITE_ORIGIN.as_str() }}/sign-in">signing in</a> with a different email, or <a href="{{ WEBSITE_ORIGIN.as_str() }}/sign-up">create a new account</a> instead.</li>
        <li>If this wasn't you, you can safely ignore this email.</li>
    </ul>
</p>
<p>
    Thank you for your interest in File Garden. :)
</p>
